body {
    animation: backgroundShift 10s infinite;
    background-size: 400% 400%;
    text-align: center;
  }
  
  @keyframes backgroundShift {
    0%   { background-color: #0074f8; }
    25%  { background-color: #ff3700; }
    50%  { background-color: #ddff00; }
    75%  { background-color: #0edf5e; }
    100% { background-color: #cb3036; }
  }